@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
* 

.container {

    width: 510px;
    height: 1139px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
}

header { background-image: url("images/Rectangle 1 (1).png");
    width: 510px;
    height: 576px
    

}

h1 { 
   
    padding: 0 1em;
    font-family: Bebas Neue;
    font-size: 64px;
    font-weight: 400;
    line-height: 77px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    
    

     }
     
     p { 
        padding: 0 2em;
        font-family: Poppins;
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: center;
        color: #FFFFFF;         
    }

.content {
    width: 510px;
    height: 576px;
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    
    

     
}
  
.fish-hook > h2 { 
    font-family: Poppins;
font-size: 18px;
font-weight: 500;
line-height: 27px;
letter-spacing: 0em;
text-align: left;


 }

.fish-hook > input[type="name"] {
    background: linear-gradient(0deg, #C7C7C7, #C7C7C7),
linear-gradient(0deg, #EDEDED, #EDEDED);

    border: 1px solid #C7C7C7;
    width: 427px;
    height: 65px;
    top: 845px;
    left: 41px;
    border: 1px;
    margin-bottom: 2em;
    

     }

     .fish-hook > h3 { 
        font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    

    
     }
.fish-hook > input[ type="email"] {
    
    background: linear-gradient(0deg, #C7C7C7, #C7C7C7), linear-gradient(0deg, #EDEDED, #EDEDED);
    ;
    border: 1px solid #C7C7C7;
    width: 427px;
    height: 65px;
    top: 845px;
    left: 41px;
    border: 1px;
  
    

}
.fish-hook2 > input[ type="submit"] {
    background: #5200FF;
    width: 427px;
    height: 65px;
    top: 845px;
    left: 41px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    margin-top: 4.3em;
    
  
     
}


    
     

